:root{
  ::highlight(tiptap-blur-selection){
    background-color: rgb(123, 97, 255, 0.2);
  }
}
.theme-default::selection{
  background-color: rgb(123, 97, 255, 0.2);
}
.theme-default {
  /* 颜色相关 */
  --text: #17171D;
  --paragraph-text: #17171D;
  --bg: #fff;

  /* 行高相关 */
  --paragraph-min-height: 28px;
  --paragraph-line-height: 1.8;
  --heading-line-height: 1.3;
  --list-line-height: 1.9;
  --code-line-height: 1.5;

  /* 字体相关 */
  --font-size-base: 15px;
  --font-family: 'Helvetica Neue', Arial, sans-serif;
  --paragraph-font-weight: 400;
  --list-font-weight: 400;
  --heading-font-size-h1: 24px;
  --heading-font-size-h2: 20px;
  --heading-font-size-h3: 18px;
  --heading-font-size-h4: 16px;
  --heading-font-size-h5: 14px;
  --heading-font-size-h6: 12px;
  --list-font-size-base: 15px;

  /* code 代码块相关 */
  --code-bg: #fff;
  --code-font-family: 'JetBrainsMono', monospace;
  --code-font-size: 14px;

  /* margin相关 */
  --paragraph-margin: 5px 0;
  --heading-margin-h1: 0;
  --heading-margin-h2: 16px 0 22px 0;
  --heading-margin-h3: 16px 0 8px 0;
  --heading-margin-h4: 16px 0 8px 0;
  --heading-margin-h5: 16px 0 8px 0;
  --heading-margin-h6: 16px 0 8px 0;

  --list-item-margin: 3px 0;

  /* padding相关 */
  --list-padding: 0 0 6px 15px;

  --link-hover-decoration: none;

  --image-width: 80%;
  --image-margin: 20px auto;

  --horizental-rule-height: 1px;
  --horizental-rule-margin: 24px 0;
  --horizental-rule-bg: #e3e4e5;

}

.theme-default {
  -webkit-font-smoothing: auto !important;
  background-color: var(--bg) !important;
  text-align: left !important;
}
.theme-default .tiptap{
  min-height: calc(100vh - 100px);
}

.theme-default .tiptap:focus-visible{
  outline: none !important;
}

/* 段落 */
.theme-default .editor-paragraph {
  min-height: var(--paragraph-min-height) !important;
  line-height: var(--paragraph-line-height) !important;
  color: var(--text) !important;
  margin: var(--paragraph-margin) !important;
  font-size: var(--font-size-base) !important;
  font-weight: var(--paragraph-font-weight) !important;
  letter-spacing: normal;
  text-align: left !important;
}

.theme-default .editor-paragraph br {
  line-height: var(--paragraph-line-height) !important;
}

/* 引用块 */
.theme-default .editor-quote {
  border-left: 3px solid #3a4252 !important;
  padding: 8px 12px !important;
  color: #aab3c2 !important;
  background: rgba(255, 255, 255, 0.02) !important;
  margin: 1em 0 !important;
}

/* 标题样式 */
.theme-default h1.editor-heading,
.theme-default h2.editor-heading,
.theme-default h3.editor-heading,
.theme-default h4.editor-heading,
.theme-default h5.editor-heading,
.theme-default h6.editor-heading {
  line-height: 1.3 !important;
  font-weight: 500 !important;
  color: var(--text) !important;
}

.theme-default h1.editor-heading {
  font-size: var(--heading-font-size-h1) !important;
  position: relative !important;
  margin: var(--heading-margin-h1) !important;
}

.theme-default h2.editor-heading {
  font-size: var(--heading-font-size-h2) !important;
  margin: var(--heading-margin-h2) !important;
}

.theme-default h3.editor-heading {
  font-size: var(--heading-font-size-h3) !important;
  margin: var(--heading-margin-h3)
}

.theme-default h4.editor-heading {
  font-size: var(--heading-font-size-h4) !important;
  margin: var(--heading-margin-h4) !important;
}

.theme-default h5.editor-heading {
  font-size: var(--heading-font-size-h5) !important;
  margin: var(--heading-margin-h5) !important;
}

.theme-default h6.editor-heading {
  font-size: var(--heading-font-size-h6) !important;
  margin: var(--heading-margin-h6) !important;
}

/* 列表样式 */
.theme-default .editor-list-ol{
  list-style-type: decimal !important;
}
.theme-default .editor-list-ul{
  list-style-type: disc !important;
}
.theme-default .editor-list-ol,
.theme-default .editor-list-ul {
  padding: var(--list-padding) !important;
  line-height: var(--list-line-height) !important;
  font-weight: var(--list-font-weight) !important;
  margin-bottom: 0 !important;
}

.theme-default .editor-listItem {
  margin: var(--list-item-margin) !important;
}

.theme-default .editor-nested-listitem {
  
}

.theme-default .editor-listItemChecked {
  
}

.theme-default .editor-listItemUnchecked {
  
}

/* 链接 */
.theme-default .editor-link, .theme-default .editor-link a{
  color: var(--text) !important;
  text-decoration: none !important;
}

.theme-default .editor-link:hover {
  text-decoration: var(--link-hover-decoration) !important;
}

.theme-default .editor-link a:hover {
  color: var(--text);
  text-decoration: var(--link-hover-decoration) !important;
}

/* 文本样式 */
.theme-default .editor-textBold {
  color: #17171D !important;
  font-weight: 500 !important;
  text-align: left !important;
}

.theme-default .editor-textItalic {
  
}

.theme-default .editor-textStrikethrough {
  
}

.theme-default .editor-textUnderline {
  
}

.theme-default .editor-textUnderlineStrikethrough {
  
}

.theme-default .editor-textSubscript {
  
}

.theme-default .editor-textSuperscript {
  
}

/* 行内代码块 */
.theme-default .editor-textCode {
  padding: 5px 6px !important;
  border-radius: 6px !important;
  border: none !important;
  background: rgba(225, 225, 225, 0.5) !important;
}


/* 代码块 */

/* .theme-default .editor-code::before{
  display: none !important;
  content: attr(data-gutter);
  position: absolute;
  background-color: #eee;
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid #ccc;
  padding: 8px;
  color: #777;
  white-space: pre-wrap;
  text-align: right;
  min-width: 20px;
} */
.theme-default .tiptap-editor pre {
  background: var(--code-bg);
  /* color: #fff; */
  padding: 8px 0;
  border-radius: 6px;
  overflow-x: auto;
  overflow-y: hidden;
}

.theme-default .tiptap-editor pre code {
  font-family: var(--code-font-family);
  color: inherit;
  padding: 0;
  background: none;
  font-size: var(--code-font-size);
}

/* 标签 */
.theme-default .editor-hashtag {
  
}

/* 图片 */
.theme-default .editor-image {
  display: block;
  width: var(--image-width);
  height: auto;
  margin: var(--image-margin) !important;
}

/* 水平线 */
.theme-default .editor-hr {
  border: none !important;
  height: var(--horizental-rule-height) !important;
  background: var(--horizental-rule-bg) !important;
  margin: var(--horizental-rule-margin) !important
}

/* 表格 */

.theme-default .editor-table div[data-node-view-content-react] {
  display: contents;
}
.theme-default .editor-table table {
  width: 100% !important;
  border-collapse: collapse !important;
}

.theme-default .editor-table tr {
  width: 100% !important;
}

.theme-default .editor-table table th,
.theme-default .editor-table table td {
  border: 1px solid #e3e4e5 !important;
  padding: 4px !important;
}

.theme-default .editor-table table th {
  background: #f6f8fa !important;
  font-weight: 500 !important;
}

/* 图表 */
.theme-default .mermaid-container{
  margin: 16px 0 !important;
  display: flex;
  justify-content: center; 
  align-items: center;
}